.grid-container {
  display: grid;
  background-color: #f6f1f1;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: #e0dad3;
}

.image-grid {
    width: 250px;
    height: 70%;
}