.grid-container {
  display: flex-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.image-grid {
    width: 200px;
    height: 70%;
}