.grid-container {
  display: grid;
  background-color: #f6f1f1;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 10px;
  font-size: 30px;
}

.image-grid {
    width: 200px;
    height: 70%;
}

.grid-item {
    background-color: #d3cdc6;
}